<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miku.mapper.UserMapper">
    <select id="listByPage" resultType="com.miku.entity.User">
        select * from cc_user
        <where>
            <if test="1==1">
                is_valid = 1
            </if>
            <if test="query.key != null and query.key != ''">
                and nickname like concat('%',#{query.key},'%')
            </if>
            <if test="query.startTime != '' and query.endTime != '' ">
                and create_time between #{query.startTime} and #{query.endTime}
            </if>

        </where>

        limit ${(query.pageNum-1) * query.pageSize},#{query.pageSize}
    </select>
    <select id="selectUserByBid" resultType="java.lang.Integer">
      SELECT cc_blog.uid from cc_blog
            INNER JOIN cc_user on cc_user.uid = cc_blog.uid
            INNER JOIN cc_review on cc_review.bid = cc_blog.bid  where cc_review.bid = #{bid} limit 1;
    </select>
</mapper>
