<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.mapper.BlogMapper">

    <select id="selectMyPage" resultType="com.weilai.response.BlogRecordResponse">
        select cb.id,cb.title,cb.picture,cb.content,cb.tag_id,cb.user_id,cu.nickname,cu.avatar,count(cbl.id) as likes from cc_blog cb left join cc_user cu on cb.user_id = cu.id
            left join cc_blog_like cbl on cbl.blog_id = cb.id
            ${ew.customSqlSegment}
        GROUP BY cb.id
    </select>
    <select id="getDetailById" resultType="com.weilai.response.BlogRecordResponse">
        select cb.*,cu.nickname,cu.avatar from cc_blog cb left join cc_user cu on cb.user_id = cu.id
        where cb.id = #{id}
    </select>
    <select id="getRecentBlog" resultType="com.weilai.response.RecentBlogResponse">
        select cb.id,cb.title,cu.nickname,cu.avatar,cb.create_time as createTime from cc_blog cb left join cc_user cu on cb.user_id = cu.id
        order by cu.create_time desc limit 1,5
    </select>
</mapper>
