<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.mapper.ReviewMapper">

    <select id="selectMyPage" resultType="com.weilai.response.ReviewResponse">
        select cr.*,cu.avatar,cu.nickname from cc_review cr  left join cc_user cu on cr.user_id = cu.id
            ${ew.customSqlSegment}
    </select>
    <select id="selectChildList" resultType="com.weilai.response.ReviewResponse">
        select cr.*,cu.avatar,cu.nickname from cc_review cr  left join cc_user cu on cr.user_id = cu.id
            where cr.reply_id = ${id}
    </select>
    <select id="getMainReply" resultType="com.weilai.response.MainReplyResponse">
        select cr.*,cu.nickname from cc_review cr left join cc_user cu on cr.user_id = cu.id
        order by cr.create_time asc  limit 1,5
    </select>


</mapper>
